<header class="header">
  <div class="left">
    <img src="assets/Logo.png" alt="Home" class="home-icon">
    <h1 class="site-title">Sentinel One</h1>
  </div>
  <div class="right">
    <a href="#" class="contact-link">Contact</a>
    <button class="btn theme-toggle" (click)="toggleTheme()" title="Toggle Theme">
      <i class="fas fa-moon"></i>
    </button>
    <a href="https://www.google.com" target="_blank" class="social-icon google">
      <i class="fab fa-google"></i>
    </a>
    <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" class="social-icon twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" class="social-icon instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</header>