<app-header></app-header>
<div class="welcome-container">
    <div class="overlay">
      <div class="content">
        <img src="assets/welcome.png" alt="Welcome Image" class="welcome-image">
        <div class="text-content">
          <h1 class="mt-4">Welcome to SentinelOne</h1>
          <p class="lead">Get Ready to Deep Dive in to it</p>
          <div class="mt-4">
            <button class="btn btn-primary mr-2" (click)="navigateTo('login')">Login</button>
            <button class="btn btn-secondary" (click)="navigateTo('signup')">Signup</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>